@import 'partials/setup';
@import 'partials/variables';
@import 'partials/titlePage';
@import 'partials/location';
@import 'partials/responsive';
@import 'partials/results';

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}
.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

html {
	font-size: 62.5%;
}

body {
	max-width: 1300px;
}



// 1.Change border for button on music page
//2. Font size for restaurants
//3 Size of spotify