@import 'partials/variables';

.locationPage {
	background-color: lightpink;
}

.musicPage {
	background-color: darkcyan;
}

.h2Style {
	margin: 0;
	font-size: 4.5rem;	
	color: $brandWhite;
	font-family: $titleFontFamily;
}

.formDescription {
	color: white;
	font-family: $bodyFontFamily;
	font-size: $bodyFontSize;

}

.form__displayBlock {
	display: block;
	margin: 0 auto
}

.form {
	border: 1px solid red;
	margin-top: 50px;
}

.form__input {
	@include inputField
	margin-top: 20px;
}

.submit {
	@include button(#FFFFFF, #FFFFFF)
	margin-top: 20px;
}
